<form
  [formGroup]="resetForm"
  class="d-flex justify-content-center align-items-center p-3 h-100"
>
      <div class="card p-3 w-50">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Enter email"
            formControlName="email"
          />
        </div>
        <div class="flex justify-content-center align-items-center">
          <button
            class="btn btn-primary text-white w-100"
            (click)="sendResetLink()"
          >
            Reset Password
          </button>
        </div>
        <div class="mt-2 flex justify-content-center align-items-center">
          <button
            class="text-dark btn btn-outline-secondary w-100"
            routerLink="/sign-up"
          >
            Don't have an account? Sign Up here!
          </button>
        </div>
        <div class="mt-2 flex justify-content-center align-items-center">
          <button
            class="text-dark btn btn-outline-secondary w-100"
            routerLink="/sign-in">
            Already have an account? Login Here
          </button>
        </div>
      </div>
</form>
