<main class="p-3">
  <div class="row">
    <div class="col-4">
        <div class="text-center text-success fw-bolder border p-2">To Do</div>
        <div class="border p-2 my-2 cursor-pointer">
          <div class="d-flex align-items-center justify-content-between">
            <div class="card-title">Title</div>
            <div class="icon-user-solid-circle cursor-pointer"></div>
          </div>
          <div class="card-description my-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
            repellat?
          </div>
          <div class="d-flex justify-content-between align-items-center mt-1">
            <span class="text-primary">Date</span>
            <div class="action">
              <span class="icon-edit cursor-pointer"> </span>
              <span class="icon-trash ms-1 cursor-pointer"> </span>
            </div>
          </div>
        </div>
      </div>
    <div class="col-4">
      <div class="text-warning text-center fw-bolder border p-2">In Progress</div>
      <div class="border p-2 my-2 cursor-pointer">
        <div class="d-flex align-items-center justify-content-between">
          <div class="card-title">Title</div>
          <div class="icon-user-solid-circle cursor-pointer"></div>
        </div>
        <div class="card-description my-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          repellat?
        </div>
        <div class="d-flex justify-content-between align-items-center mt-1">
          <span class="text-primary">Date</span>
          <div class="action">
            <span class="icon-edit cursor-pointer"> </span>
            <span class="icon-trash ms-1 cursor-pointer"> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="text-center text-info fw-bolder border p-2">Done</div>
      <div class="border p-2 my-2 cursor-pointer">
        <div class="d-flex align-items-center justify-content-between">
          <div class="card-title">Title</div>
          <div class="icon-user-solid-circle cursor-pointer"></div>
        </div>
        <div class="card-description my-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime,
          repellat?
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <span class="text-primary">Date</span>
          <div class="action">
            <span class="icon-edit cursor-pointer"> </span>
            <span class="icon-trash ms-1 cursor-pointer"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
