// Theme Colors
$bg-main-color: #128C7E;
$primary : $bg-main-color;
$secondary : #bffcb5;
$white : #fff;
// $success                                   : #1eca1a;
$success :#D1E4E8;
$danger : #e43536;
$warning : #ffc400;
$info :#F5FAFC;


// main-color
$main-color: $info;
$chat-color : #3a3939;
// form 
$input-focus-box-shadow : 0px;
$input-border-radius : 10px;

$icon-color : #7e7e7ede;

// header
$header-bg :#F5FAFC;

// user 
$user-hover-bg : #eeeeee;
$container-bg : #fdfeff;

// chat 

// icon

// tick
$tick-color : #e0f2fa;

// accordion 
$accordion-button-active-bg : #e9e2fd;
$accordion-button-active-color : #8558ff;