// All the SCSS Variables goes here
$chat-bg-color:$info;
// font 
$font-family : 'Poppins',
sans-serif;

// sidebar 
$sidebar-width : 380px;

// header 
$header-height :65px;

// input Type
$input-focus-box-shadow: none;
$form-select-focus-box-shadow: none;
$input-focus-border-color: $bg-main-color;
$form-select-box-shadow: none;