table{
    thead, tbody{
        tr{
            th,td{
                text-align: center;
                vertical-align: baseline;
                padding: 10px;
                border: 1px solid black;
            }

            th{
                background-color: $info ;
                color:black;
            }
        }
    }
}