header {
    height: 60px;
  .profile-container {
    position: relative;
    display: inline-block;
    .profile {
      cursor: pointer;
      background-color: #f1f1f1;
    }
    .profile-dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      min-width: 100px;
      z-index: 1;
      border: 1px solid rgba(155, 155, 155, 0.488);
      border-radius: 5px;
      .nav-item {
       .nav-link{
         padding: 5px;
         text-align: center;
         font-weight: 400;
         transition: all 0.3s ease-in-out;
         &:hover{
          background:$secondary; 
         }
       }
      }
    }
  }
  .profile:focus + .profile-dropdown,
  .profile:hover + .profile-dropdown,
  .profile-dropdown:hover,
  .profile-dropdown:focus-within {
    display: block;
  }
}
