<div class="progress-card border rounded-3 p-2 mt-2">
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
      doloremque maiores obcaecati impedit eum architecto a, esse facere!
      Voluptatum esse eos eaque magni nemo itaque atque obcaecati dicta
      perferendis?
    </p>
    <div class="d-flex align-items-center justify-content-between">
      <div class="text-primary">04.06.2023</div>
      <div class="profile icon-user-solid-circle fs-5 cursor-pointer"></div>
    </div>
  </div>